*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Andika";
    font-size: 1rem;
    min-height: 100vh;
    background-color: rgb(196, 141, 196);
}

header{
    display: flex;
    justify-content: flex-end;
}

nav{
  display: flex;
  justify-content: flex-end;
}

button,a,label{
    cursor: pointer;
}